.navcontainer
	ul.navigation_links
		li: a(href="#") Home
		li: a(href="#") Browse  
		li: a(href="#") About
		li: a(href="#") Press
		li: a(href="#") Work
			

	ul.socialmedia_links
		li: a(href="#") Facebook
		li: a(href="#") Twitter
		li: a(href="#") Instagram
		li: a(href="#") Pinterest
		li: a(href="#") Rss Feed
			

