.logo

.side_navcontainer
	ul.socialmedia_links2
			li: a(href="#") Facebook
			li: a(href="#") Twitter
			li: a(href="#") Instagram
			li: a(href="#") Pinterest
			li: a(href="#") Rss Feed

img.profile(src= "{{site.baseurl}}/assets/img/profile.jpg")

div.about_me_container
	p.about_me Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum venenatis pellentesque. Praesent tincidunt magna vitae dolor congue egestas. Nunc non facilisis nulla, consectetur tempus arcu. Suspendisse nec nibh pulvinar, sagittis diam quis, cursus metus. Vivamus ac ligula quis orci convallis luctus id id ante.
	a.see_more(href="#") 
		p SEE MORE.