.logo

div.hr_before
	hr
.side_navcontainer
	ul.socialmedia_links2
		li: a(href="https://www.facebook.com/clauwee09")
			img.facebook(src="{{site.baseurl}}/assets/img/fb_logo.svg")
		li: a(href="https://www.twitter.com/clauwy")
			img.twitter(src="{{site.baseurl}}/assets/img/twitter_logo.svg")
		li: a(href="https://www.instagram.com/clauwee")
			img.instagram(src="{{site.baseurl}}/assets/img/instagram_logo.svg") 
		li: a(href="https://www.youtube.com/user/venclaucui")
			img.youtube(src="{{site.baseurl}}/assets/img/youtube_logo.svg")  
		li: a(href="#")
div.hr_after
	hr

img.profile(src= "{{site.baseurl}}/assets/img/profile.jpg")

div.about_me_container
	p.about_me Filipina. 24. Single. Double X Chromosome. Medical student. Registered Nurse. Cooking. Colors. Photography. Make up. Non-smoker. Non-drinker. Healthy as a jumping Kodiak. Loves sweets. Loves fruits. Loves gummy bears. Loves books. Blogging since 2008. Wants ice cream and wants you to leave a cookie in my cookie jar! Ask away!
	a.see_more(href="#") 
		p SEE MORE.

