---
layout: jusminimal
title: Claudine Cuizon
---

{% include header.html %}
{% include side_bar.html %}
{% include footer.html %}

  <div class="blog_container">
	  <ul class="posts">
	    {% for post in site.posts %}
	    <div class="blog_loop">
			<h1><a class="post_link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><br /></h1>
			<span class="post_date">{{ post.date | date_to_long_string }}</span>
			<span class="post_excerpt">{{ post.excerpt }}</span>
			<div class="hr_before_keep_reading_button">
				<hr />
			</div>
			<div class="keep_reading_button">
				<a class="keep_reading" href="{{ site.baseurl }}{{ post.url }}" class="button button-primary">KEEP READING</a>
			</div>
			<div class="hr_after_keep_reading_button">
				<hr />
			</div>
		</div>
	    {% endfor %}
	  </ul>
  </div>

