---
layout: jusminimal
title: Claudine Cuizon
---

{% include header.html %}


  <div class="blog_loop">
  <h1>Blog Posts</h1>
  <ul class="posts">
  	<h1>JUSTINCUI</h1>
    {% for post in site.posts %}
		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a class="blog_link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		<li><span>{{ post.excerpt }}</span></li>
		<a href="{{ site.baseurl }}{{ post.url }}" class="button button-primary">Read More</a>

		<li>
		justincuizon
		<li><span>{{ post.date | date_to_string }}</span> &raquo; <a class="blog_link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		</li>
    {% endfor %}
  </ul>
  </div>
