<div class="header_navigation_mobile"><ul><li><a href="{{site.baseurl}}/index.html">HOME<li><a href="#">ABOUT  </a></li><li><a href="#">CONTACT</a></li><li><a href="#"> </a></li><li><a href="#"> </a></li></a></li></ul></div><header class="inside_wrapper"><div class="header_wrapper"><nav class="header_navigation"><ul><li><a href="{{site.baseurl}}/index.html">HOME<li><a href="#">ABOUT  </a></li><li><a href="#">CONTACT</a></li><li><a href="#"> </a></li><li><a href="#"> </a></li></a></li></ul></nav><img class="mobile_navigation_button" onclick="toggleMenu()" src="{{site.baseurl}}/assets/img/menu.svg"/></div></header><!--ul.socialmedia_links
	li: a(href="#")
		img.facebook(src="{{site.baseurl}}/assets/img/fb_logo2.svg")
	li: a(href="#")
		img.twitter(src="{{site.baseurl}}/assets/img/twitter_logo2.svg")
	li: a(href="#")
		img.instagram(src="{{site.baseurl}}/assets/img/instagram_logo2.svg") 
	li: a(href="#")
		img.youtube(src="{{site.baseurl}}/assets/img/youtube_logo2.svg")  
	li: a(href="#") 

		-->