<div class="header_navigation_mobile"><div class="mobile_Nav_content" id="mobile_Nav"><ul><li><a href="{{site.baseurl}}/index.html">HOME</a></li><li><a href="#">ABOUT  </a></li><li><a href="#">CONTACT</a></li><li><a href="#"> </a></li><li><a href="#"> </a></li></ul></div></div><header class="inside_wrapper"><div class="header_wrapper"><nav class="header_navigation"><ul><li><a href="{{site.baseurl}}/index.html">HOME</a></li><li><a href="#">ABOUT  </a></li><li><a href="#">CONTACT</a></li><li><a href="#"> </a></li><li><a href="#"> </a></li></ul></nav><button class="mobile_navigation_button" onclick="toggleMenu()"></button></div></header><!--ul.socialmedia_links
	li: a(href="#")
		img.facebook(src="{{site.baseurl}}/assets/img/fb_logo2.svg")
	li: a(href="#")
		img.twitter(src="{{site.baseurl}}/assets/img/twitter_logo2.svg")
	li: a(href="#")
		img.instagram(src="{{site.baseurl}}/assets/img/instagram_logo2.svg") 
	li: a(href="#")
		img.youtube(src="{{site.baseurl}}/assets/img/youtube_logo2.svg")  
	li: a(href="#") 

		-->