<header><nav><ul class="site_navigation"><li><a href="{{site.baseurl}}/index.html">HOME</a></li><li><a href="#">BROWSE  </a></li><li><a href="#">ABOUT</a></li><li><a href="#">PRESS</a></li><li><a href="#">WORK</a></li></ul></nav><!--ul.socialmedia_links
	li: a(href="#")
		img.facebook(src="{{site.baseurl}}/assets/img/fb_logo2.svg")
	li: a(href="#")
		img.twitter(src="{{site.baseurl}}/assets/img/twitter_logo2.svg")
	li: a(href="#")
		img.instagram(src="{{site.baseurl}}/assets/img/instagram_logo2.svg") 
	li: a(href="#")
		img.youtube(src="{{site.baseurl}}/assets/img/youtube_logo2.svg")  
	li: a(href="#") 

	--></header>