body
	background-color: #f3f3f3
	margin: 0
	height: 2000px
	overflow-x: hidden

	li 
		float: left
		display: inline-block
		margin-right: 50px
	

.navcontainer
		background-color: #484547
		height: 50px
		width: 1366px
		position: absolute
		top: 0px

		z-index: 1

.socialmedia_links
	position: absolute
	top: 0px
	left: 900px
	li
		margin-right: 10px
	a
		text-decoration: none
		color: white

.navigation_links
	position: absolute
	top: 0px
	left: 175px
	a
		text-decoration: none
		color: white

.profile
	border-radius: 8px
	width: 260px
	height: 350px
	position: absolute
	top: 420px
	left: 915px
	z-index: 0

.logo
	background:
		image: url(../assets/img/logo-cc.svg)
		repeat: no-repeat
	width: 230px
	height: 230px
	position: absolute
	top: 85px
	left: 950px

.blog_link
	color: black

.blog_loop
	position: absolute
	top: 70px 
	left: 175px

.socialmedia_links2
	color: black
	position: absolute
	top: 360px
	left: 840px
	li
		margin-right: 10px
	a
		text-decoration: none
		color: black

	








		
		
	
