body
	background-color: #f3f3f3
	margin: 0
	overflow-x: hidden

	li 
		float: left
		display: inline-block
		margin-right: 50px
	

.navcontainer
	background-color: #484547
	height: 50px
	width: 1366px
	position: fixed
	top: 0px
	z-index: 1

.socialmedia_links
	position: fixed
	top: 10px
	left: 790px
	margin-top: 0px
	li
		margin-right: 30px
	a
		text-decoration: none
		color: white

img.facebook
	width: 30px
	height: 30px

img.twitter
	width: 30px
	height: 30px

img.instagram
	width: 30px
	height: 30px

img.youtube
	width: 30px
	height: 30px

	

.navigation_links
	position: fixed
	top: 0px
	left: 220px
	a
		text-decoration: none
		color: white
	

.profile
	border-radius: 8px
	width: 260px
	height: 350px
	position: absolute
	top: 420px
	left: 915px
	box-shadow: 6px 10px 23px -9px rgba(0,0,0,0.75)
	z-index: 0

.logo
	background:
		image: url(../img/logo-cc.svg)
		repeat: no-repeat
	width: 230px
	height: 230px
	position: absolute
	top: 85px
	left: 950px

.socialmedia_links2
	color: black
	position: absolute
	width: 100%
	top: 355px
	left: 895px
	li
		margin-right: 30px
	a
		text-decoration: none
		color: black
	flex: 1

hr
    border: 0
    height: 1px
    background: #333
    background-image: linear-gradient(to right, #ccc, #333, #ccc)

.hr_before
	position: absolute
	width: 250px
	height: 10px
	top: 350px
	left: 915px

.hr_after
	position: absolute
	width: 250px
	height: 10px
	top: 400px
	left: 915px

.about_me
	color: black
	text-align: left

.about_me_container
	position: absolute
	width: 250px
	height: 300px
	top: 780px
	left: 915px
a.see_more
	text-decoration: none
	color: brown







		
		
	
