.blog_article
	padding-top: 10px	
	background-color: #ffffff
	font-family: 'Open Sans', sans-serif
	position: relative
	width: 700px
	top: 90px
	left: 175px
	border-radius: 5px
	box-shadow: 6px 10px 23px -5px rgba(0,0,0,0.75)
	margin-bottom: 100px

h2
	text-align: center

.meta
	text-align: center

.post 
	position: relative
	width: 600px
	margin-left: 50px
	padding-bottom: 20px
