@import url("https://fonts.googleapis.com/css?family=Open+Sans:600i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
@import url("https://fonts.googleapis.com/css?family=Lato:100");
.post_link {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
  position: relative;
  top: 20px; }

.post_date {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: Grey; }

.blog_container {
  position: absolute;
  top: 70px;
  left: 175px;
  margin-bottom: 100px; }

.blog_loop {
  background-color: #ffffff;
  height: 450px;
  width: 660px;
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 6px 10px 23px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 10px 23px -5px rgba(0, 0, 0, 0.75); }

.keep_reading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: Grey; }

.keep_reading_button {
  display: block;
  position: relative;
  top: 5px;
  left: -190px; }

.post_excerpt {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: block;
  text-align: justify;
  position: relative;
  margin-left: 80px;
  margin-top: 200px;
  width: 500px; }

.hr_before_keep_reading_button {
  position: relative;
  width: 600px;
  height: 10px;
  top: 0px;
  left: 25px; }

.hr_after_keep_reading_button {
  position: relative;
  width: 600px;
  height: 10px;
  top: 10px;
  left: 25px; }

body {
  background-color: #f3f3f3;
  margin: 0;
  overflow-x: hidden;
  min-height: 100%;
  padding-bottom: 6rem; }
  body li {
    float: left;
    display: inline-block;
    margin-right: 50px; }

.navcontainer {
  background-color: #484547;
  height: 50px;
  width: 1366px;
  position: fixed;
  top: 0px;
  z-index: 1; }

.socialmedia_links {
  position: fixed;
  top: 10px;
  left: 790px;
  margin-top: 0px; }
  .socialmedia_links li {
    margin-right: 30px; }
  .socialmedia_links a {
    text-decoration: none;
    color: white; }

img.facebook {
  width: 30px;
  height: 30px; }

img.twitter {
  width: 30px;
  height: 30px; }

img.instagram {
  width: 30px;
  height: 30px; }

img.youtube {
  width: 30px;
  height: 30px; }

.navigation_links {
  font-family: 'Open Sans Condensed', sans-serif;
  position: fixed;
  top: 0px;
  left: 220px; }
  .navigation_links a {
    text-decoration: none;
    color: white; }

.profile {
  -webkit-border-radius: 8px;
          border-radius: 8px;
  width: 260px;
  height: 350px;
  position: absolute;
  top: 420px;
  left: 915px;
  -webkit-box-shadow: 6px 10px 23px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 10px 23px -9px rgba(0, 0, 0, 0.75);
  z-index: 0; }

.logo {
  background-image: url(../img/logo-cc.svg);
  background-repeat: no-repeat;
  width: 260px;
  height: 260px;
  position: absolute;
  top: 85px;
  left: 950px; }

.socialmedia_links2 {
  color: black;
  position: absolute;
  width: 100%;
  top: 355px;
  left: 895px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .socialmedia_links2 li {
    margin-right: 30px; }
  .socialmedia_links2 a {
    text-decoration: none;
    color: black; }

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#333), to(#ccc));
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: linear-gradient(to right, #ccc, #333, #ccc); }

.hr_before {
  position: absolute;
  width: 250px;
  height: 10px;
  top: 350px;
  left: 915px; }

.hr_after {
  position: absolute;
  width: 250px;
  height: 10px;
  top: 400px;
  left: 915px; }

.about_me {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: black;
  text-align: left; }

.about_me_container {
  position: absolute;
  width: 250px;
  height: 300px;
  top: 780px;
  left: 915px; }

a.see_more {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: brown; }

.footer_sticky {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  z-index: 1;
  background-color: #484547;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75); }
  .footer_sticky p {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 14px;
    margin-left: 220px;
    margin-top: 0px; }

.blog_article {
  padding-top: 10px;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  width: 700px;
  top: 70px;
  left: 175px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 6px 10px 23px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 10px 23px -5px rgba(0, 0, 0, 0.75); }

h2 {
  text-align: center; }

.meta {
  text-align: center; }

.post {
  position: relative;
  width: 600px;
  margin-left: 50px;
  padding-bottom: 20px; }
