---
layout: jusminimal
title: Claudine Cuizon
---
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
        <link rel="icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">

</head>

{% include header.html %}
{% include side_bar.html %}
{% include footer.html %}

<div class="blog_article">
	<h2>{{ page.title }}</h2>
	<p class="meta">{{ page.date | date_to_long_string }}</p>
	<div class="post">
		{{ content }}
	</div>
</div>
